/* Ventana emergente */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
    border-radius: 10px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para los formularios */
#agregarForm, #editarForm {
    display: flex;
    flex-direction: column;
}

#agregarForm label, #editarForm label {
    margin: 10px 0 5px;
}

#agregarForm input, #editarForm input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#agregarForm button, #editarForm button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #a2fca2;
    font-size: 16px;
    cursor: pointer;
}

#agregarForm button:hover, #editarForm button:hover {
    background-color: #90e890;
}

/* Estilos para el modal de confirmación de eliminación */
#modalEliminar .modal-content p {
    margin: 20px 0;
    text-align: center;
    font-size: 18px;
}

#modalEliminar .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#modalEliminar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #a2fca2;
    font-size: 16px;
    cursor: pointer;
}

#modalEliminar button:hover {
    background-color: #90e890;
}

/* Otros estilos */
body {
    font-family: Arial, sans-serif;
    background-color: #f0fff0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #a2fca2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
}

.header nav {
    display: flex;
    gap: 15px;
}

.header button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #a2fca2;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header .active {
    background-color: white;
    border: black solid;
}

.header button:hover {
    background-color: #90e890;
}

.container h1 {
    margin: 0; /* Elimina el margen del encabezado */
    font-size: 36px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    color: white; /* Color del texto blanco */
}

.container {
    background-color: #aaffaa; /* Color de fondo verde claro */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 20px 0; /* Espaciado vertical */
    margin: 20px;
}

.footer {
    background-color: #a2fca2;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.right-align {
    float: right;
    width: 120px;
}
