body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #AEFEB1;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 40px;
    margin-right: 10px;
}

.logo-name {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.nav-link:hover,
.nav-link.active {
    background-color: #fff;
    border: 2px solid #000;
}

.nav-link.active {
    border-radius: 10px;
    border: 2px solid #000;
}

.container {
    background-color: #AEFEB1;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px auto; 
    margin-top: 80px;
    border: 2px solid;
    border-radius: 10px;
    width: 1200px;
}

.container h1 {
    font-weight: bold;
    margin: 0;
}

.title {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2.5em;
    color: white;
    margin: 0;
}

.form-container {
    background-color: #a2fca2;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    width: 350px;
  
}

.form-container select,
.form-container input[type="number"] {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: calc(100% - 40px);
    border: none;
    border-radius: 5px;
}

.form-container button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #90e890;
}

.footer {
    background-color: #AEFEB1;
    padding: 30px 20px;  
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    width: 100%;
    margin-top: auto;  
}

.footer-text {
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto; 
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.btn-aceptar {
    background-color: limegreen;
    color: white;
    font-weight: bold;
}

.btn-rechazar {
    background-color: red;
    color: white;
    font-weight: bold;
}

.right-align {
    float: right;
    width: 120px;
    margin: 20px;
}


