body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #AEFEB1;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 40px;
    margin-right: 10px;
}

.logo-name {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.nav-link:hover,
.nav-link.active {
    background-color: #fff;
    border: 2px solid #000;
}

.nav-link.active {
    border-radius: 10px;
    border: 2px solid #000;
}

.container {
    padding-top: 100px; 
    position: relative;
}

.title-container {
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.title {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2.5em;
    color: black;
    margin: 0;
}


.footer {
    background-color: #AEFEB1;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-text {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.btn-aceptar {
    background-color: limegreen;
    color: white;
    font-weight: bold;
}
.btn-rechazar {
    background-color: red;
    color: white;
    font-weight: bold;
}

/* Estilos para los diferentes estados */
select.status {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: black; /* Color del texto negro */
}

.status-expirado {
    background-color: red;
    color: white;
}

.status-entregado {
    background-color: green;
    color: white;
}

.status-entregando {
    background-color: yellow;
    color: black;
}

.status-pendiente {
    background-color: white;
    color: black;
}

/* Estilo para las opciones del select */
select.status option {
    background-color: white; /* Fondo blanco para las opciones */
    color: black; /* Texto negro para las opciones */
}